[submodule "python-cwlgen"]
	path = python-cwlgen
	url = git@github.com:common-workflow-language/python-cwlgen.git
[submodule "schema_salad"]
	path = schema_salad
	url = git@github.com:common-workflow-language/schema_salad.git
[submodule "common-workflow-language"]
	path = common-workflow-language
	url = git@github.com:common-workflow-language/common-workflow-language.git
